<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.proyecto.nerdynews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.NoActionBar"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCde_iY3Wk4YUjXhMaJp_3o90EA_ak-Og8" />

        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.RegistroActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login.OlvidoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login.PostRegistroActivity" />
        <activity
            android:name=".eventos.ListadoEventosActivity" />
        <activity
            android:name=".intereses.ListadoInteresesActivity"/>
        <activity
            android:name=".intereses.ListadoFavoritosActivity"/>
        <activity
            android:name=".eventos.VisualizarEventoActivity" />
    </application>

</manifest>