<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.proyecto.nerdynews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:supportsRtl="true">
        <receiver android:name=".Widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBqG5I5eSr6Zl-9EuA5mcRMbdPFrW5xxKY"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOj6p_Egzr6zXQrgVznGp_gvl8cal_-x8"/>

        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.RegistroActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login.OlvidoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Login.PostRegistroActivity" />
        <activity android:name=".eventos.ListadoEventosActivity" />
        <activity android:name=".intereses.ListadoInteresesActivity" />
        <activity android:name=".intereses.ListadoFavoritosActivity" />
        <activity android:name=".Perfil.PerfilActivity" />
        <activity android:name=".eventos.VisualizarEventoActivity">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.nerdynews.org" />
                <data android:pathPrefix="/evento" />
            </intent-filter>
        </activity>
        <activity android:name=".PerfilAmigoActivity" android:label="@string/gpr_1985"></activity>
        <activity android:name=".amigos.BusquedaAmigosActivity" />
        <activity android:name=".amigos.ListadoAmigosActivity" />
    </application>

</manifest>